<nav class="navbar navbar-expand-lg custom-color custom-text">
  <div class="container-fluid">
    <div>
        <i class="bi bi-arrow-left"></i>
    </div>
    <div>
      <span class="navbar-text mx-auto text-white custom-font">
        <%= yield(:page_name) || "Default Page Name" %>
      </span>
    </div>
    <div>
        <span class="mx-auto text-white custom-font btn btn-outline-primary" id="nextButton">
            Next
        </span>
    </div>
  </div>
</nav>
