<nav class="navbar navbar-expand-lg custom-color custom-text">
  <div class="container-fluid">
    <%= link_to homepage_path do %>
      <i class="bi bi-arrow-left" style="color: white;"></i>
    <% end %>
    <div>
      <span class="navbar-text mx-auto text-white custom-font">
        <%= yield(:page_name) || "Default Page Name" %>
      </span>
    </div>
    <div>
    </div>
  </div>
</nav>
