<div class="splash-container container-fluid d-flex flex-column align-items-center justify-content-center vh-100">
  <h1 class="text-center mb-5">Smart Budget</h1>
  <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary", style: "width:30%;" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary mt-2", style: "width:30%;" %>
</div>
