<% content_for :head do %>
  <%= stylesheet_link_tag 'user_index' %>
<% end %>

<%= render 'helper/navbar' %>
<h1>List of Categories: </h1>
<% @categories.each do |category| %>
  <div class="user-profile">
    <ul>
        <li><h2><%= category.name %></h2></li>
    </ul>
  </div>
<% end %>

<div class="d-flex justify-content-center mt-4">
  <%= link_to 'Add New Category', new_category_path, class: 'btn btn-success' %>
</div>
